/* CSS style rules for all custom CSS. */

.tab-content-results {
    padding: 3rem;
}

div.dash-sk-circle {
    height: 6rem;
    width: 6rem;
}

.banner > div {
    display: flex;
}

.banner button {
    opacity: 0.6;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 2rem 5rem;
    text-underline-offset: 0.5rem;
    border-radius: 0;
}

.banner button.active {
    opacity: 1;
    background: rgba(255, 255, 255, 0.2);
}

.banner button.active:hover {
    filter: none;
    cursor: default;
}

#warning > div {
    border: 2px solid var(--red-light);
    border-radius: 0.4rem;
    background-color: rgba(199, 0, 57, 0.15);
    padding: 2rem;
    color: var(--red-dark);
    margin-bottom: 1rem;
    display: inline-block;
}

#warning p:last-child {
    margin: 0;
}

.not_satisfied {
    background-color: rgba(199, 0, 57, 0.15);
    border: 1px solid var(--red-light);
}

.caption-wrapper {
    display: flex;
    align-items: flex-end;
}

.caption-wrapper > *:last-child {
    margin-left: 1rem;
}

p small {
    font-size: 1.2rem;
    color: var(--red-light);
}

#small-caption {
    margin-bottom: 0;
}

#solution-map {
    border: none;
    width: 100%;
    height: 100%;
    display: block;
}

#solution-map[data-dash-is-loading="true"] {
    filter: grayscale(1);
    opacity: 0.3;
    transition: filter 0.1s linear, opacity 0.1s linear;
}

#run-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    filter: none;
}
