/* CSS style rules for all custom CSS. */

.tab-content-results {
    padding: 3rem;
}

div.dash-sk-circle {
    height: 6rem;
    width: 6rem;
}

.banner > div {
    display: flex;
}

.banner button {
    opacity: 0.6;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 2rem 5rem;
    text-underline-offset: 0.5rem;
    border-radius: 0;
}

.banner button.active {
    opacity: 1;
    background: rgba(255, 255, 255, 0.2);
}

#warning > div {
    border: 2px solid var(--red-light);
    border-radius: 0.4rem;
    background-color: rgba(199, 0, 57, 0.15);
    padding: 2rem;
    color: var(--red-dark);
    margin-bottom: 1rem;
}

#warning p:last-child {
    margin: 0;
}

caption {
    display: block;
    text-align: left;
    font-size: 1.2rem;
    color: var(--grey-medium);
}

#solution-map {
    border: none;
    width: 100%;
    height: 100%;
}

#solver-time-limit {
    margin-bottom: 2rem;
}

