{% extends "layout.html" %}

{% block content %}
<div id="home">
<p>
    The ongoing Covid-19 pandemic has resulted in millions of people being infected and has 
    overwhelmed health systems. Many hospitals are facing a critical shortage of essential resources 
    such as invasive ventilators, ICU beds, and personal protective gear. It is imperative to 
    optimize the allocation of resources. The goal is to group hospitals in such a way that shared 
    resources are maximized within each group while ensuring fair distribution across different groups.
</p>

<img src='data:image/png;base64,{{partitioning}}' class='home-img'/>


<h2>BQM</h2>
<p>
    In the BQM formulation, the goal is to divide the hospitals into groups such that the maximum 
    amount of transfer is achieved at minimum cost. Transfer is quantified as the smaller 
    number between total excess and total shortage in a group of hospitals. Cost is the sum of all 
    costs associated with transferring resources from one hospital to another: In this demonstration, 
    only distance is considered as a cost. 
</p>
<h3>Utility Function</h3>
<p>
    Before formulating the BQM, a utility function must be defined.
</p>
<p>
    Let's say that there are eight hospitals with the various number of ICU beds \(u = (a_1, ..., a_8)\).
    The values a_i can be positive (excess) or negative (shortage). Let’s assume that \(u_p = (a_1, ..., a_4)\) 
    are positive and \(u_n = (a_5, ..., a_8)\) are negative.
</p>
<p>
    The maximum transfer is equal to

    \begin{equation}
        t = min(\sum_{i \in u_p} a_i, -\sum_{i \in u_n} a_i).
    \end{equation}

    For example, if there are fewer hospitals with a positive a_i (excess), maximum transfer is equal 
    to the magnitude of \(\sum_{i \in u_p} a_i\).

    The cost for each group \(u\) is determined by summing up the distances of transfers between 
    hospitals. Transfers occur only between members of \(u_p\) and \(u_n\).

    So the maximum cost is:

    \begin{equation}
    c = \sum_{i \in u_p, j \in u_n} d_{i,j} x_{i,j}
    \end{equation}
    Finally, we can define utility as a balance between cost and transfer.

    \begin{equation}
    U[u] = (1 - \alpha) t - \alpha c
    \end{equation}
</p>
<img src='data:image/png;base64,{{partition_with_distance}}' class='home-img'/>
<h3>Formulation</h3>
<p>
    Given the utility function above, or any utility function that can compute a value for a given 
    subset \(u\), we can use the following k-clique problem to find the best division of medical 
    centers to k groups [1].

    First, we define the set of partitions of size \(n/k\) as

    \begin{equation}
        \mathcal{V} = \left\{ u: \forall ~ u \subset S ~\land ~|u| = \frac{n}{k} \right\}.
    \end{equation}

    We can define the set of edges as a pair of nodes that share elements (this is the complement 
    set of the original as defined in [1]).

    \begin{equation}
        \mathcal{E} = \left\{ (u, v): \forall ~ u,v \in \mathcal{V} ~\land ~~ u \cap v \neq \{\} \right\}.
    \end{equation}

    Because the nodes in \(\mathcal{E}\) are derived from partitions of size \(n/k\), there can be 
    no clique larger than \(k\). Therefore, all we need to do is to solve the weighted 
    maximum-independent-set problem with weights equal to the utility function and some regularization 
    factor. If the utility function is defined as \(U: \mathcal{V} \rightarrow R\), we can write the 
    objective function as,

    \begin{equation}
        H = - \sum_u (U_u + R)~ x_u + \lambda \sum_{u, n \in \mathcal{E}} x_u x_u
    \end{equation}

    where, \(x_u\) is a binary variable that decides if the group \(u\) is selected.
</p>
<h2>CQM</h2>
<p>
    The BQM formulation requires multiple mathematical transformations to run on an unconstrained 
    solver: the original problem is reformulated as a maximum-independent-set problem.
</p>
<p>
    The CQM formulation enables the direct solution of the original problem in an intuitive way.
</p>
<h3>Formulation</h3>
<p>
    We start with our constraints.
</p>
<p>
    <b>Constraint #1: No hospital can be in more than one group</b>
</p>
<img src='data:image/png;base64,{{c1}}' class='home-code-img'/>
<p>
    <b>Constraint #2: Each group must have a net positive number of beds</b>
</p>
<img src='data:image/png;base64,{{c2}}' class='home-code-img'/>
<p>
    Our last step is to <b>minimize the transfer cost</b> by adding an objective to the CQM. Cost is 
    equivalent to the maximum cost possible in a group: \(c = \sum_{i \in u_p, j \in u_n} d_{i,j} x_{i,j}\)
</p>
<img src='data:image/png;base64,{{obj}}' class='home-code-img'/>
<p>
    We now have a CQM that is ready to be sampled with the <code>LeapHybridCQMSampler</code>.
</p>
<p>
    In the code above, note that:
    <ul>
        <li><code>cqm</code> is a <code>dimod.ConstrainedQuadraticModel</code></li>
        <li><code>hospitals</code> is a <code>dict</code> in which keys are hospital names and values
        are the number of excess beds in each hospital</li>
        <li><code>num_groups</code> is the number of groups to separate the hospitals into</li>
        <li><code>variables</code> is a <code>dict</code> in which keys are <code>(hospital, group)</code> 
        and values are the binary variables that determine whether <code>hospital</code> should be 
        in <code>group</code></li>
        <li><code>distances</code> is a <code>dict</code> in which keys are pairs of hospitals and 
        values are the distances between the two hospitals</li>
    </ul>
</p>
<p id='refs'>
    [1] Bass, Gideon, et al. "Heterogeneous quantum computing for satellite constellation optimization:
        solving the weighted k-clique problem." Quantum Science and Technology 3.2 (2018): 024010.
</p>
</div>
{% endblock content %}
